HCCSManager/Service References/WorkdayHCCS/Report.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:mimebind="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wd="urn:com.workday.report/Lee_Marrette/HCCS_Initial_Load" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nyw="urn:com.netyourwork/aod" xmlns:httpbind="http://schemas.xmlsoap.org/wsdl/http/" name="Report" targetNamespace="urn:com.workday.report/Lee_Marrette/HCCS_Initial_Load" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:com.workday.report/Lee_Marrette/HCCS_Initial_Load">
      <xsd:element name="Report_Data" type="wd:Report_DataType" />
      <xsd:element name="Execute_Report" type="wd:Execute_ReportType" />
      <xsd:simpleType name="RichText">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="Management_LevelReferenceEnumeration">
        <xsd:restriction base="xsd:string">
          <xsd:annotation>
            <xsd:appinfo>
              <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID" />
              <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Management_Level_ID" />
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Cost_CenterReferenceEnumeration">
        <xsd:restriction base="xsd:string">
          <xsd:annotation>
            <xsd:appinfo>
              <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID" />
              <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Cost_Center_Reference_ID" />
              <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Organization_Reference_ID" />
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Unique_IdentifierReferenceEnumeration">
        <xsd:restriction base="xsd:string">
          <xsd:annotation>
            <xsd:appinfo>
              <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="IID" />
              <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID" />
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Report_ParametersType">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="Report_EntryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="userName" type="xsd:string" />
          <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
          <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="workEmail" type="wd:Unique_IdentifierObjectType" />
          <xsd:element minOccurs="0" name="hireDate" type="xsd:date" />
          <xsd:element minOccurs="0" name="department" type="wd:Cost_CenterObjectType" />
          <xsd:element minOccurs="0" name="ManagementLevel" type="wd:Management_LevelObjectType" />
          <xsd:element minOccurs="0" name="EmployeeID" type="xsd:string" />
          <xsd:element minOccurs="0" name="DeptID" type="xsd:string" />
          <xsd:element minOccurs="0" name="department11" type="xsd:string" />
          <xsd:element minOccurs="0" name="workEmail11" type="xsd:string" />
          <xsd:element minOccurs="0" name="MgtLevel" type="wd:MgtLevelType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MgtLevelType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MgtLevel" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Management_LevelObjectType">
        <xsd:annotation xmlns:wstxns1="urn:com.workday/bsvc" wstxns1:Is_Reference_ID="1" />
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ID" type="wd:Management_LevelObjectIDType" />
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="Cost_CenterObjectType">
        <xsd:annotation xmlns:wstxns2="urn:com.workday/bsvc" wstxns2:Is_Reference_ID="1" />
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ID" type="wd:Cost_CenterObjectIDType" />
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="Unique_IdentifierObjectType">
        <xsd:annotation xmlns:wstxns3="urn:com.workday/bsvc" wstxns3:Is_Reference_ID="1" />
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ID" type="wd:Unique_IdentifierObjectIDType" />
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="Management_LevelObjectIDType">
        <xsd:annotation>
          <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="type" type="wd:Management_LevelReferenceEnumeration" use="required">
              <xsd:annotation>
                <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="Cost_CenterObjectIDType">
        <xsd:annotation>
          <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="type" type="wd:Cost_CenterReferenceEnumeration" use="required">
              <xsd:annotation>
                <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="Unique_IdentifierObjectIDType">
        <xsd:annotation>
          <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="type" type="wd:Unique_IdentifierReferenceEnumeration" use="required">
              <xsd:annotation>
                <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="Report_DataType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Report_Entry" type="wd:Report_EntryType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Execute_ReportType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Report_Parameters" type="wd:Report_ParametersType" />
          <xsd:element minOccurs="0" name="Authentication" type="wd:AuthenticationType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MoneyType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:decimal">
            <xsd:attribute name="Currency_Code" type="xsd:string" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="AuthenticationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Proxy_User_Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestMsg">
    <wsdl:part name="Proxy_User_Name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Report_DataOutputMsg">
    <wsdl:part name="body" element="wd:Report_Data" />
  </wsdl:message>
  <wsdl:message name="ResponseMsg">
    <wsdl:part name="body" type="wd:Report_DataType" />
  </wsdl:message>
  <wsdl:message name="Execute_ReportInputMsg">
    <wsdl:part name="body" element="wd:Execute_Report" />
  </wsdl:message>
  <wsdl:portType name="ReportPortREST">
    <wsdl:operation name="Execute_Report">
      <wsdl:input name="Execute_ReportInput" message="wd:RequestMsg" />
      <wsdl:output name="Execute_ReportOutput" message="wd:ResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ReportPort">
    <wsdl:documentation>
    </wsdl:documentation>
    <wsdl:operation name="Execute_Report">
      <wsdl:input name="Execute_ReportInput" message="wd:Execute_ReportInputMsg" />
      <wsdl:output name="Execute_ReportOutput" message="wd:Report_DataOutputMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportBinding" type="wd:ReportPort">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute_Report">
      <soapbind:operation soapAction="" style="document" />
      <wsdl:input name="Execute_ReportInput">
        <soapbind:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Execute_ReportOutput">
        <soapbind:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportRESTBinding" type="wd:ReportPortREST">
    <httpbind:binding verb="GET" />
    <wsdl:operation name="Execute_Report">
      <httpbind:operation location="Execute_Report" />
      <wsdl:input>
        <httpbind:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mimebind:content part="body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="Report" binding="wd:ReportBinding">
      <soapbind:address location="https://services1.myworkday.com/ccx/service/Report2/schumacher/Lee_Marrette/HCCS_Initial_Load" />
    </wsdl:port>
    <wsdl:port name="ReportREST" binding="wd:ReportRESTBinding">
      <httpbind:address location="https://services1.myworkday.com/ccx/service/customreport2/schumacher/Lee_Marrette/HCCS_Initial_Load" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>